h1, h2 {
	position: relative;
	color: #373e4f !important;
	text-transform: uppercase;
}

h1 {
	margin-bottom: 10px !important;
}

.home h1, .home h2 {
	display: inline-block;
	margin-bottom: -1px !important;
	padding: 0 5px;
	background: #fff;
}

.home h1 {
	font-size: 44px;
}

.home h2 {
	font-size: 28px;
}

.home h2::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 50px;
	height: 5px;
	margin-left: -25px;
	background: #eebd01;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_section_0 .tm_pb_text_0 {
	white-space: pre-line;
    line-height: 0;
    *white-space: pre;
    *word-wrap: break-word;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_row_0 {
	padding: 100px 0 !important;
}

.home.tm_pb_builder #tm_builder_outer_content .tm_pb_row_0 {
	padding-top: 400px !important;
	padding-bottom: 400px !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_text_0 {
	max-width: inherit !important;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_row_2 {
	
}

#tm_builder_outer_content .tm_pb_module.tm_pb_button, #tm_builder_outer_content .tm_pb_module .tm_pb_button {
	font-size: 15px !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	background: #1b3d87 !important;
}

#tm_builder_outer_content .tm_pb_posts.tm_pb_module .tm-posts_title_group .tm-posts_title_divider {
	background: none !important;
}

#tm_builder_outer_content .tm_pb_posts.tm_pb_module .tm-posts_item .tm-posts_img {
	height: 200px;
	overflow: hidden;
}

#tm_builder_outer_content .tm_pb_posts.tm_pb_module .tm-posts_item {
	margin-bottom: 0 !important;
}

.site-logo {
	position: relative;
	top: -20px;
}

.header-container {
	background: none !important;
	box-shadow: none !important;
}

.main-navigation {
	position: relative;
	width: auto !important;
}

.main-navigation::before {
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	width: 200%;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 30px rgba(0,0,0,.1);
}

.main-navigation .menu.isStuck#main-menu {
	padding: 0 !important;
}

.main-navigation .menu > li {
	margin: 0 !important;
}

.main-navigation .menu > li + li {
	border-left: 1px solid #e7e7e7;
}

.main-navigation .menu > li.current-menu-item,
.main-navigation .menu > li.current-menu-item + li {
	border-left: none;
}

.main-navigation .menu > li > a {
	padding: 25px 13px !important;
	color: #71747b !important;
	font-size: 13px !important;
}

.main-navigation .menu.isStuck#main-menu > li > a {
	padding: 15px 20px !important;
}

.main-navigation .menu > li.current-menu-item > a {
	color: #fff !important;
	background: #152d60;
}

.tm_pb_builder #main #tm_builder_outer_content .tm_pb_divider_0,
.tm_pb_builder #main #tm_builder_outer_content .tm_pb_divider_1 {
	margin-bottom: 15px !important;
}

.tm_pb_section_1 .tm_pb_blurb_content .tm_pb_main_blurb_image {
	height: 110px;
}

.tm_pb_section_1 .tm_pb_blurb_content img {
	width: auto !important;
}

.tm_pb_builder #main #tm_builder_outer_content .tm_pb_blurb h4 {
	position: relative;
	padding-bottom: 20px;
	font-size: 27px !important;
	color: #1a3d87 !important;
}

.tm_pb_builder #main #tm_builder_outer_content .tm_pb_blurb h4::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 30px;
	height: 5px;
	margin-left: -15px;
	background: #eebd01;
}

.tm_pb_section_2 {
	background: #eef1f6 !important;
}

.tm_pb_section_2 h3 {
	position: relative;
	padding-bottom: 20px;
}

.tm_pb_section_2 h3::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 5px;
	background: #eebd01;
}

.tm_pb_section_2 .row {
	align-items: center !important;
}

.tm_pb_section_2 .tm_pb_text_5 a {
	font-size: 20px !important;
	font-weight: 700 !important;
	color: #1b3d87 !important;
}

.tm_pb_section_3 h3 {
	margin-bottom: 5px !important;
}

.tm_pb_section_3 h3 {
	position: relative;
	padding-bottom: 5px;
}

.tm_pb_section_3 h3::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50px;
	height: 5px;
	margin-left: -25px;
	background: #eebd01;
}

.tm_pb_section_3 .tm_pb_posts .tm-posts_img {
	margin-bottom: 30px !important;
}

.tm_pb_section_3 .tm_pb_posts time {
	font-size: 14px !important;
	font-style: normal !important;
	color: #1b3d87 !important;
}

.tm_pb_section_3 .tm_pb_posts .posted-by {
	display: none !important;
}

.tm_pb_section_3 .tm_pb_posts h5 {
	margin-top: 0 !important;
}

.tm_pb_section_3 .tm_pb_posts .tm-posts_item_excerpt {
	margin-top: 0 !important;
	color: #908c88 !important;
	font-size: 16px !important;
}

.tm_pb_section_3 .tm_pb_posts .posts_item_content_footer a {
	position: relative;
	padding-left: 12px;
}

.tm_pb_section_3 .tm_pb_posts .posts_item_content_footer a::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 7px;
	border-color: transparent transparent transparent #edae01;
}

.tm_pb_section_3 .tm_pb_posts .posts_item_content_footer a span {
	font-size: 14px !important;
	font-weight: 400 !important;
	text-transform: none !important;
	color: #1b3d87 !important;
	letter-spacing: 0 !important;
}

.tm_pb_section_3 .tm_pb_posts .posts_item_content_footer a i {
	display: none;
}

.tm_pb_section_4 {
	background: #eef1f6 !important;
	border-top: 3px solid #dde1e7;
}

.tm_pb_section_4 h3 {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 5px;
	text-align: center;
}

.tm_pb_section_4 h3::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50px;
	height: 5px;
	margin-left: -25px;
	background: #eebd01;
}

.tm_pb_section_4 h4 {
	font-family: 'Merriweather' !important;
	font-size: 22px !important;
	color: #7e858d !important;
}

.tm_pb_contact_form .tm_pb_contact_right,
.tm_pb_contact_form .tm_pb_contact_submit {
	margin-top: 10px !important;
	margin-left: 10px !important;
}

.tm_pb_section_4 .tm_pb_text_7 {
	margin-top: 20px;
}

.tm_pb_section_4 .tm_pb_text_8 p {
	opacity: .7;
}

.tm_pb_section_4 .tm_pb_column_1_3 {
	padding-top: 90px;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li {
	position: relative;
	padding: 10px 0 !important;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li + li {
	margin-top: 0 !important;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li + li::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 1px;
	background: #d0d4db;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li span {
	width: 20px;
	height: 20px;
	text-align: center;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li span::before {
	display: inline-block;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li:nth-of-type(1) span::before {
	content: url('../images/home.svg');
	width: 15px;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li:nth-of-type(2) span::before {
	content: url('../images/mail.svg');
	width: 15px;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li:nth-of-type(3) span::before {
	content: url('../images/phone.svg');
	width: 10px;
}

.tm_pb_section_4 .tm_pb_sidebar_0 li,
.tm_pb_section_4 .tm_pb_sidebar_0 li a {
	font-family: 'Merriweather' !important;
	font-size: 18px !important;
	color: #1b3d87 !important;
	text-decoration: underline !important;
}

footer a {
	color: #888 !important;
}

footer .current-menu-item a {
	color: #fff !important;
}

footer .social {
	font-size: 0;
}

footer .social a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}

footer .social a img {
	height: 30px;
}

footer .footer-copyright {
	font-family: 'Lato' !important;
	font-size: 13px !important;
	font-weight: 400 !important;
	color: #636260 !important;
}

footer .footer-container {
	padding: 70px 0 !important;
}

footer .copyright,
footer .copyright a {
	font-size: 12px !important;
	color: #888 !important;
}

.tm-posts_img {
	position: relative;
	background: #172e60;
}

.tm-posts_img::before {
	content: '+';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	line-height: 78px;
	margin-top: -40px;
	margin-left: -40px;
	font-size: 55px;
	font-weight: 900;
	color: #efc001;
	text-align: center;
	border-radius: 50%;
	background: #fff;
}

.tm-posts_img img {
	position: relative;
}

.tm-posts_img img[src*="http://fakeimg.pl/"] {
	display: none;
}

header {
	margin: 0 !important;
}

header .top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-style: 0;
	text-align: right;
	z-index: 99;
}

header .top p,
header .top .lang {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

header .top p {
	vertical-align: middle;
	margin: 0 !important;
	font-size: 11px;
	color: #737985;
}

header .top .lang {
      display: none;
	position: relative;
	margin-left: 15px;
	text-align: left;
}

header .top .lang .selected {
	position: relative;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	background: #152e61;
	border-radius: 0 0 5px 5px;
}

header .top .lang .selected a {
	position: relative;
	display: block;
	padding: 0 10px;
	/*padding-right: 25px;*/
	font-size: 0;
}

header .top .lang .selected a::after {
	content: '';
	display: none;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -2px;
	margin-left: 7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #152d60 transparent transparent transparent;
}

header .top .lang .list {
	position: absolute;
	display: none !important;
	top: 100%;
	margin-top: 5px;
	width: 200px;
	background: #152e61;
	border-radius: 5px;
}

header .top .lang .list a {
	display: block;
	padding: 5px 10px;
	font-size: 0;
}

header .top .lang .list a:hover {
	background: #cedce9;
}

header .top .lang img,
header .top .lang span {
	display: inline-block;
	vertical-align: middle;
}

header .top .lang span {
	height: auto;
	line-height: normal;
	margin-left: 5px;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
}

header #annuaire {
	position: absolute;
	display: none;
	top: 650px;
	left: 0;
	width: 100%;
	padding: 50px 0;
	background: #152d60;
	/*background: rgba(21, 45, 96, .7);*/
	z-index: 9;
}

.home header #annuaire {
	display: block;
}

header #annuaire input,
header #annuaire select {
	height: 50px !important;
	line-height: 50px !important;
}

#sidebar {
	width: 250px;
	display: inline-block;
	vertical-align: top;
}

#sidebar::before {
	content: '';
	position: absolute;
	top: 0;
	left: 250px;
	height: 100%;
	width: 1px;
	background: #e5e5e5;
}

#sidebar a {
	position: relative;
	display: block;
	margin-right: 15px;
	padding: 10px 30px;
	font-size: 15px;
	color: #919191;
	text-align: right;
}

#sidebar a.current {
	color: #000;
	border: solid #e5e5e5;
	border-width: 1px 0;
	background: #f5f5f5;
}

#sidebar + #main {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 300px);
}

body:not(.home) .site-content_wrap {
	/*width: 1170px;*/
	margin: 70px auto !important;
}

.single-post.tm_pb_builder #tm_builder_outer_content .tm_pb_row_0 {
	padding-top: 30px !important;
	padding-bottom: 70px !important;
}

.single .post > .entry-content > p:first-of-type:first-letter {
	font-size: inherit !important;
	float: none !important;
	margin: 0 !important;
	line-height: normal !important;
	padding: 0 !important;
	background: none !important;
	color: inherit !important;
}

.tm_pb_contact_form .row {
	font-size: 0;
}

.tm_pb_contact_form .tm_pb_contact_field {
	display: inline-block;
	vertical-align: top;
	width: calc((100% - 30px) / 2) !important;
	flex: auto !important;
}

.tm_pb_contact_form .tm_pb_contact_field:last-child {
	width: 100% !important;
	margin-top: 20px;
}

.tm_pb_contact_form .tm_pb_contact_field input,
.tm_pb_contact_form .tm_pb_contact_field textarea {
	padding: 20px 30px !important;
	box-shadow: 1px 2px 0 #c9c9c9 inset;
}

.tm_pb_contact_form .tm_pb_contact_captcha {
	background: none !important;
	box-shadow: 0 0 0 1px #c9c9c9 inset;
}

@media screen and (min-width: 1200px) {
	.main-navigation li {
		display: flex !important;
	}

	.main-navigation li.super-guacamole__menu {
		display: none !important;
	}
}

@media screen and (max-width: 1200px) {
	body:not(.home) .site-content_wrap {
		width: 80%;
	}
}

@media (max-width: 767px) {
      .main-navigation::before {
            content: none;
      }

      .annuaire-form.large .formAnnuaire_chps {
            width: 100%;
      }
}