<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="cdb2" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<title>CDB2</title>
<meta name="description" content=""></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/cdb2.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="head" ui-view="head"></div>
        <div ui-view="navbar" data-ng-cloak=""></div>
        <toaster-container toaster-options="{'time-out': 30000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
        <div id="wrap">
            <span us-spinner="" key="spin-1"></span>
        </div>

        <div id="main" ui-view="content" class="main-content"></div>
        <div class="footer" data-ng-cloak="" ui-view="footer"></div>
        <!-- </div> -->
        <div data-ng-view=""></div>

        <!-- IMPORTS -->
        <!-- webjars -->


        <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
        <script th:src="@{/webjars/angularjs/1.4.10/angular.js}"></script>
        <script th:src="@{/webjars/angularjs/1.4.10/angular-animate.js}"></script>
        <script th:src="@{/webjars/angularjs/1.4.10/angular-touch.js}"></script>
        <script th:src="@{/webjars/angularjs/1.4.10/angular-cookies.js}"></script>
        <script th:src="@{/webjars/angularjs/1.4.10/angular-resource.js}"></script>
        <script th:src="@{/webjars/angularjs/1.4.10/angular-messages.js}"></script>
        <script th:src="@{/webjars/spin.js/2.0.2/spin.js}"></script>
        <script th:src="@{/webjars/angular-spinner/0.6.2/angular-spinner.js}"></script>
        <script th:src="@{/webjars/angular-loading-spinner/0.0.3/angular-loading-spinner.js}"></script>
        <script th:src="@{/webjars/angular-ui-router/0.2.18/angular-ui-router.js}"></script>
        <script th:src="@{/webjars/angular-translate/2.13.1/angular-translate.js}"></script>
        <script th:src="@{/webjars/angular-translate-loader-url/2.13.1/angular-translate-loader-url.js}"></script>
        <script th:src="@{/webjars/angular-translate-storage-cookie/2.5.2/angular-translate-storage-cookie.js}"></script>
        <script th:src="@{/webjars/angular-translate-loader-static-files/2.13.1/angular-translate-loader-static-files.js}"></script>

        <script th:src="@{/webjars/angular-toastr/1.5.0/angular-toastr.js}"></script>
        <script th:src="@{/webjars/angular-toastr/1.5.0/angular-toastr.tpls.js}"></script>
        <link th:href="@{/webjars/angular-toastr/1.5.0/angular-toastr.css}" rel="stylesheet" />
        <script th:src="@{/webjars/ng-lodash/0.4.0/build/ng-lodash.js}"></script>
        <script th:src="@{/webjars/angular-bootstrap/2.5.0/ui-bootstrap.js}"></script>
        <script th:src="@{/webjars/angular-bootstrap/2.5.0/ui-bootstrap-tpls.js}"></script>
        <link th:href="@{/webjars/angular-bootstrap/2.5.0/ui-bootstrap-csp.css}" rel="stylesheet" />
        <script th:src="@{/webjars/angucomplete-alt/2.5.0/angucomplete-alt.js}"></script>
        <link th:href="@{/webjars/angucomplete-alt/2.5.0/angucomplete-alt.css}" rel="stylesheet" />
        <script th:src="@{/webjars/ng-file-upload/12.2.13/ng-file-upload-shim.js}"></script>
        <script th:src="@{/webjars/ng-file-upload/12.2.13/ng-file-upload.js}"></script>
        <script th:src="@{/webjars/checklist-model/0.11.0/checklist-model.js}"></script>
        <script th:src="@{/webjars/angular-file-saver/1.1.3/dist/angular-file-saver.bundle.js}"></script>
        <script th:src="@{/webjars/angular-confirm-modal/1.2.6/angular-confirm.js}"></script>
        <script th:src="@{/webjars/ngstorage/0.3.11/ngStorage.js}"></script>
        <script th:src="@{/webjars/localforage/1.4.1/dist/localforage.js}"></script>
        <script th:src="@{/webjars/momentjs/2.21.0/moment.js}"></script>
        <script th:src="@{/webjars/angular-moment/1.2.0/angular-moment.js}"></script>

        <!-- angular application -->
        <script src="/js/index.module.js"></script>
        <script src="/js/index.run.js"></script>
        <script src="/js/index.config.js"></script>
        <script src="/js/index.route.js"></script>
        <script src="/js/index.constant.js"></script>
        <script src="/js/root/navbar.controller.js"></script>
        <script src="/js/root/footer.controller.js"></script>
        <script src="/js/root/head.controller.js"></script>
        <script src="/js/home/home.controller.js"></script>
        <script src="/js/home/tos.controller.js"></script>
        <script src="/js/geo-area/geo-area.controller.js"></script>
        <script src="/js/geo-area/geo-area.detail.controller.js"></script>
        <script src="/js/geo-area/geo-area.api.service.js"></script>
        <script src="/js/municipality/municipality.controller.js"></script>
        <script src="/js/municipality/zip.update.directive.js"></script>
        <script src="/js/municipality/municipality.api.service.js"></script>
        <script src="/js/bailiff/bailiff.controller.js"></script>
        <script src="/js/bailiff/competence.edit.controller.js"></script>
        <script src="/js/bailiff/bailiff.edit.controller.js"></script>
        <script src="/js/bailiff/bailiff.api.service.js"></script>
        <script src="/js/bailiff/lang.api.service.js"></script>
        <script src="/js/bailiff/competence4select.api.service.js"></script>
        <script src="/js/bailiff/bailiffcomparea.api.service.js"></script>
        <script src="/js/bailiff/instrument.api.service.js"></script>
        <script src="/js/bailiff/competence.api.service.js"></script>
        <script src="/js/reference/reference.controller.js"></script>
        <script src="/js/reference/language.edit.controller.js"></script>
        <script src="/js/reference/language.api.service.js"></script>
        <script src="/js/reference/reference.api.service.js"></script>
        <script src="/js/common/login.controller.js"></script>
        <script src="/js/common/auth.service.js"></script>
        <script src="/js/common/api.error.interceptor.js"></script>
        <script src="/js/common/settings.service.js"></script>
        <script src="/js/common/settings.api.service.js"></script>
        <script src="/js/common/status/status.directive.js"></script>
        <script src="/js/common/status/status.service.js"></script>
        <script src="/js/common/status/status.api.service.js"></script>
        <script src="/js/common/notification_panel/notification.panel.directive.js"></script>

        <script src="/js/libs/angular-localForage.js"></script>
        <script src="/js/libs/ng-table.js"></script>
        <link href="/js/libs/ng-table.css" rel="stylesheet"></link>
        <link src="/js/libs/ng-table.css.map" rel="stylesheet"></link>
    </div>
</body>
</html>