.vertical-align {
    display: flex;
    align-items: center;
}

.top-1 {
  margin-top: 1em;
}

.top-10 {
  margin-top: 10em;
}

.modal-hg .modal-dialog {
  width: 96%;
}

tr.pointable:hover{
  cursor: pointer;
}
